# Ignore Python bytecode
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore Django secret settings
*.env

# Ignore database
db.sqlite3

# Ignore VSCode settings
.vscode/

# Ignore macOS system files
.DS_Store